/**
 * 主布局样式
 */
.mainLayout {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color-base);
}

.bodyLayout {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  overflow: hidden;
  background-color: var(--bg-color-base);
}
